# Server
HTTP_PORT=8080

# MongoDB
MONGO_URI=mongodb://mongo:27017
MONGO_DB=incident_response

# OTEL
OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
OTEL_SERVICE_NAME=incident-response-api

# Adapters
ORDER_DB_BACKEND=mongo
CATALOG_DB_BACKEND=mongo
SERVER_BACKEND=gin

# App
LOG_LEVEL=info
SERVICE_VERSION=0.1.0
